<h1><%= @menu.name %></h1>

<p>
  <b>Menu date:</b>
  <%= @menu.menu_date %>
</p>
<h2>Recipes for this Menu:</h2>
<% @menu.recipes.each do |r| %>
<%= link_to r.name, r.source_url, target: '_blank' %><br/>
<% end %>
<p>
<div>
  <%= link_to 'Cook This Menu...', cook_menu_path(@menu.id) %>
</div>


