<% if session[:user_id].present? %>
<h1>My Recipe Box</h1>
<% else %>
<h1>All Recipes</h1>
<% end %>
<table>
  <th></th>
  <th>Recipe Name</th>
  <th>Source</th>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><img src="<%= recipe.image_url %>" style="max-width: 100px"></td>
    <td><%= link_to recipe.name, recipe_path(recipe.id) %></td>
    <td><%= recipe.source %></td>
  </tr>
  <% end %>
</table>

