<h1>My Recipe Box</h1>

<table>
  <th></th>
  <th>Recipe Name</th>
  <th>Source</th>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><img src="<%= recipe.image_url %>" style="max-width: 100px"></td>
    <td><%= link_to recipe.name, recipe_path(recipe.id) %></td>
    <td><%= link_to recipe.source, recipe.source_url, target: '_blank' %></td>
  </tr>
  <% end %>
</table>

