<div class='wrapper'>
  <% @recipes.each do |r| %>
  <div class='recipe'>
    <%= image_tag r[:url] %><%= link_to r[:name], "/recipes/yummly/#{r[:id]}" %> <br>(<%= r[:source] %>)
  </div>
  <% end %>
</div>
