<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |i| %>
<li><%= i.ingredient %></li>
<% end %>
</ul>

<%= link_to 'Add to Menu...', edit_recipe_path(@recipe.id) %>

<p><%= link_to 'Delete this recipe...', recipe_path(@recipe), method: 'delete' %>

</p>
